body {}
h1 {
	margin: 0;
}
h1:before {
	content: "🃏 ";
}
#game-intro,
#game-container {
	max-width: 960px;
	background: #fefefe;
	border: 2px solid #020202;
	margin: 1rem auto;
	padding: 1rem;
}
#game-container {
	background: darkgreen;
}
label {
	cursor: pointer;
	font-size: 1.4rem;
	font-family: sans-serif;
	padding: .2rem;
}
#guess-suite label {
	font-size: 1.6rem;
}
.card {
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	display: inline-block;
	font-size: 2rem;
	margin-bottom: .8rem;
}
.card.hearts,
.card.diamonds {
	color: #f00;
}
.card .rank,
.card .symbol {
	display: block;
	float: left;
}
.card .rank {
	font-size: .4em;
	font-weight: bold;
	letter-spacing: .1em;
	padding: .2rem 0 0 .2rem;
}
.card .rank::first-letter {
	text-transform: uppercase;
}
.card .symbol {
	font-size: 1.4em;

	clear: left;
	float: right;
}
.cards p {
	margin-top: 0;
	font-size: smaller;
	font-style: italic;
}
#imported-cards .card {
	background: #fff;
	border-radius: .5rem;
	border-width: 3px;
	border-color: #333;
	width: 3.6rem;
	height: 5.0rem;
}
label.card {
	border-color: darkgreen;
}
input[type=radio] {
	position: absolute;
	left: -9999px;
}
input[type=radio]:checked + label {
	border-color: blue;
	outline: 2px #0f0 dotted;
}
#imported-cards input[type=radio]:checked + label {
	border-style: dotted;
	border-color: blue;
	outline-style: solid;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
#imported-cards,
fieldset ul {
	margin: 0;
	padding: 0;
	text-align: center;
}/*
#guess-card .choose-suite {
	float: left;
	margin-right: 2rem;
} */
#guess-card li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	margin: 0 .3rem;
}

/* show/hide containers for each card suite
 * based on checked radio button
 */

#suite-diamonds,
#suite-clubs,
#suite-hearts,
#suite-spades {
	display: none;
}
input#diamonds:checked ~ #suite-diamonds {
  display: block;
}
input#clubs:checked ~ #suite-clubs {
  display: block;
}
input#hearts:checked ~ #suite-hearts {
  display: block;
}
input#spades:checked ~ #suite-spades {
  display: block;
}

.hidden { display: none; }

.visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}





.flip {
	-webkit-perspective: 800;
	width: 400px;
	max-width: 100%;
	height: 200px;
	position: relative;
	margin: 0 auto;
}
.flip .flipcard.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .flipcard {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .flipcard .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .flipcard .front {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;

}
.flip .flipcard .back {
  -webkit-transform: rotatex(-180deg);
	background: #fff;
    color: black;
}
